.filter-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  border: 2px solid #00B7C3;
  align-items: center;
}

.filter-group {
  flex: 0 0 calc(50% - 10px);
  display: flex;
  align-items: center;
}

.filter-group ::ng-deep .mat-mdc-form-field {
  width: 100%;
}

.filter-group ::ng-deep .mat-mdc-text-field-wrapper {
  background-color: #f8f9fa;
}

.filter-group ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.filter-group ::ng-deep .mat-mdc-form-field-infix {
  min-height: 48px;
  padding-top: 16px;
  padding-bottom: 8px;
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .filter-group {
    min-width: unset;
  }
}
